.App {
  display: flex;
  gap: 10px;
  margin: auto;
  text-align: center;
}
.form{
  width: 80%;
}
.products{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* border: 1px solid blue; */
  gap: 10px;
  margin-right: 20px;
}
.productDetails{
  /* border: 1px solid red; */
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 7px;
}
form,input{
  padding: 8px;
  margin-bottom: 12px;
  width: 80%;
}
form{
  margin: 10px;
}
select,#ADD{
  margin-bottom: 12px;
  padding: 8px;
  width: 85%;
}
