.App {
  text-align: center;
}

form{
  /* border: 1px solid red; */
  margin: auto;
  text-align: left;
  padding: 10px;
  gap: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

form>label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,select{
  padding: 5px;
}
p{
  margin: 0;
}
#submitBtn{
  width: 50%;
  margin: auto;
  margin-right: 0;
  padding: 5px;
}


#employeeTable{
  margin: auto;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 10px;
}
th, td{
  border: .1px solid gray;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
#tableDiv{
  margin-bottom: 20px;
}